# MyNutriApp - reverse proxy + HTTPS automatico (Let's Encrypt)
# Caddy ottiene e rinnova automaticamente il certificato HTTPS.

mynutriapp.cloud {
	encode gzip zstd

	@static path /static/*
	handle @static {
		root * /var/www/mynutriapp/static
		uri strip_prefix /static
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:8099
	}

	request_body {
		max_size 10MB
	}
}

www.mynutriapp.cloud {
	redir https://mynutriapp.cloud{uri} permanent
}

####################################
# MYNUTRIAPP STAGING
####################################
stage.mynutriapp.cloud {
	encode gzip zstd

	# Universal / App Links verification
	handle /.well-known/* {
		root * /var/www/staging-mynutriapp/static
		header Content-Type application/json
		file_server
	}

	@static path /static/*
	handle @static {
		root * /var/www/staging-mynutriapp/static
		uri strip_prefix /static
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:8199
	}

	request_body {
		max_size 100MB
	}
}
